<?xml version="1.0"?>
<!--
/**
 * @author i95Dev Team
 * @copyright Copyright (c) 2021 i95Dev(https://www.i95dev.com)
 * @package I95DevConnect_Returns
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magentorma_aftersave">
        <observer name="erpconnect_messagequeuetomagento_returns_save_after"
                  instance="I95DevConnect\MessageQueue\Observer\OutboundObserver\MagentoMessageQueueObserver"/>
    </event>
</config>

