<?xml version="1.0"?>
<!--
/**
 * @author i95Dev Team
 * @copyright Copyright (c) 2019 i95Dev(https://www.i95dev.com)
 * @package I95DevConnect_CancelOrder
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="I95DevConnect\I95DevServer\Model\I95DevServerRepository">
        <arguments>
            <argument name="apiServiceMethodRoutes" xsi:type="array">
                <item name="createCancelOrderList" xsi:type="array">
                    <item name="entityCode" xsi:type="string">cancelorder</item>
                    <item name="methodType" xsi:type="string">reverse</item>
                    <item name="saveWithSync" xsi:type="string">1</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="I95DevConnect\MessageQueue\Helper\DataPersistence">
        <arguments>
            <argument name="entityList" xsi:type="array">
               <item name="cancelorder" xsi:type="array">
                    <item name="syncdetails" xsi:type="array">
                        <item name="classObject" xsi:type="object" >\I95DevConnect\CancelOrder\Model\DataPersistence\CancelOrder</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
