.customer-account-create,
.customer-account-edit {
    fieldset.fieldset.generation {
        margin-bottom: 10px;

        .car_demos {
            label.generation-selection-message {
                float: left;
                text-align: left;
                display: block;
                width: 100%;
                font-size: 16px;
            }

            label.generation-label {
                margin-top: 10px;
            }
        }
    }
}
