<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="silk_checkout" translate="label" type="text" sortOrder="700" showInDefault="1"
            showInWebsite="1" showInStore="1">
            <tab>silk</tab>
            <label>Checkout Config</label>
            <resource>Silk_Checkout::config</resource>
            <group id="shipping_for_backorder_express" sortOrder="10" translate="label comment" type="text"
                showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Backorders Setting for Express Shipping</label>
                <field id="alert_enable" translate="label comment" type="select" sortOrder="1"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Shipping Alert for Backorders + Express Shpping</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="alert_copy" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" 
                    sortOrder="10">
                    <label>Shipping Alert Message for Backorders + Express Shpping.</label>
                </field>
                <field id="express_shipping_methods" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" 
                    sortOrder="20">
                    <label>Express Shpping Methods.</label>
                </field>
            </group>
        </section>
    </system>
</config>