<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mach">
            <group id="address_verification" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Mach Address Verification</label>
                <field id="enabled" type="select" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Mach Address Validation is the first option, if Mach is down we use IWD settings.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
