<?xml version="1.0"?>
<!-- 
/**
 * @author i95Dev Team
 * @copyright Copyright (c) 2019 i95Dev(https://www.i95dev.com)
 * @package I95DevConnect_I95DevServer
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="I95DevConnect_I95DevServer::apimethods" title="i95Dev Service Methods" sortOrder="10" />
            </resource>
        </resources>
    </acl>
</config>