<?xml version="1.0"?>
<!--
/**
 * @author i95Dev Team
 * @copyright Copyright (c) 2019 i95Dev(https://www.i95dev.com)
 * @package I95DevConnect_ErrorData
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="I95DevConnect_ErrorData" setup_version="2.0.6">
        <sequence>
            <module name = "I95DevConnect_MessageQueue"/>
        </sequence>
    </module>
</config>
