<?xml version="1.0"?>
<!--
/**
 * @author i95Dev Team
 * @copyright Copyright (c) 2019 i95Dev(https://www.i95dev.com)
 * @package I95DevConnect_MessageQueue
 */
-->
<I95DevConnect_ErrorData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:I95DevConnect_ErrorData:etc/settings.xsd" >
    <email>
        <supportemail>arushi.bansal@jivainfotech.com</supportemail>
    </email>
</I95DevConnect_ErrorData>