<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <basic_setting>
                <enabled>1</enabled>
                <generate_schedule>0 9,13,17,21 * * *</generate_schedule>
            </basic_setting>
        </catalog>
    </default>
</config>
