/* common */
@color-grey-46: #757575;
@color-white-blue: #f4f7fa;
@color-grey-mercury: #e1e1e1;
@color-grey-21: #363636;
@color-white-shade: #00000026;
@color-black: #000;
@color-white: #fff;
@color-persian-green: #00a98f;

/* Desktop */
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {

    .md-burger-menu {
        .md-menu-close-btn {
            cursor: pointer;
            font-size: 0;
            position: absolute;
            right: 5px;
            top: 5px;
            z-index:99;

            &:before {
                border: solid 1px @color-grey-46;
                color: @color-grey-46;
                content: '\e616';
                display: inline-block;
                font-family: 'luma-icons';
                font-size: 12px;
                font-weight: normal;
                height: 26px;
                line-height: 26px;
                margin: 0;
                overflow: hidden;
                text-align: center;
                vertical-align: top;
                width: 26px;
            }
        }
    }

    .md-burger-menu {
        &.nav-open {
            .md-menu-overlay {
                background-color: @color-black;
                height: 100vh;
                left: 0;
                position: fixed;
                top: 0;
                width: 100vw;
                z-index: 99998;
                opacity: 0.5;
            }
        }
    }

    .md-burger-menu {
        .sections {
            &.nav-sections {
                background-color: @color-white-blue;

                .navigation {
                    background-color: @color-white-blue;
                }
            }
        }

        .nav-toggle {
            display: block;
            float: left;
            height: auto;
            left: 0;
            position: inherit;
            top: 0;
            width: auto;
            .lib-css(margin, 0 @indent__base 0 0);
        }

        .logo {
            .lib-css(margin, -8px auto @indent__base + 5 0);
        }

        .navigation {
            ul {
                padding: 20px 0;
                .category-item{
                    a{
                        width: auto;
                    }
                }
            }

            .level0 {

                &.active,
                &.has-active {
                    >.level-top {
                        border-color: transparent;
                        border-style: none;
                        border-width: 0;
                    }
                }

                &.parent {
                    -moz-transition: color .2s linear, background .2s linear;
                    -o-transition: color .2s linear, background .2s linear;
                    -webkit-transition: color .2s linear, background .2s linear;
                    transition: color .2s linear, background .2s linear;


                    &:hover {
                        background-color: @color-grey-mercury;

                        >.level-top {
                            >.ui-menu-icon {
                                &:after {
                                    transform: rotate(-180deg);
                                }
                            }
                        }
                    }

                    >.level-top {
                        padding-right: 10px;

                        >.ui-menu-icon {
                            right: 10px;

                            &:after {
                                color: @color-grey-21;
                                content: '\e608';
                                font-family: 'luma-icons';
                                font-size: 12px;
                            }
                        }
                    }
                }

                .submenu {
                    background: transparent;
                    border: none;
                    box-shadow: none;
                    min-width: inherit;

                    li {

                        a,
                        a.ui-state-focus {
                            -moz-transition: color .2s linear, background .2s linear;
                            -o-transition: color .2s linear, background .2s linear;
                            -webkit-transition: color .2s linear, background .2s linear;
                            border-left: solid 3px transparent;
                            transition: color .2s linear, background .2s linear;


                            &:hover {
                                background-color: transparent;
                                border-color: @color-grey-21;
                            }
                        }

                        &.parent {
                            >a {
                                >.ui-menu-icon {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .level1 {
                &.parent {
                    .ui-menu-icon {
                        display: none;
                    }
                }
            }
        }

        .sections {
            .md-megamenu-burger {
                box-shadow: 2px 0 10px rgba(0,0,0,0.5);
                display: none;
                height: 100vh;
                left: -100%;
                margin-bottom:@indent__base + 5;
                max-width: 360px;
                overflow: visible;
                position: fixed;
                top: 0;
                transition: .3s all ease-in, all .3s ease;
                width: 90%;
                z-index: 99999;


                ul {
                    li {
                        .md-label-text {
                            background: @color-black;
                            color: @color-white;
                            font-size: 10px;
                            font-weight: 700;
                            margin-left: 5px;
                            padding: 2px 3px;


                            &.square {
                                border-radius: 3px;
                            }

                            &.rounded {
                                border-radius: 25px;
                                padding: 1px 5px;
                            }

                            &.square-pointer {
                                border-radius: 3px;
                                margin-left: -2px;
                                padding: 2px 5px;
                                position: absolute;
                                top:-4px;


                                &::after {
                                    border-right: 6px solid transparent;
                                    border-top: 6px solid transparent;
                                    border-top-color: @color-persian-green;
                                    bottom: -5px;
                                    content: ' ';
                                    height: 0;
                                    left: 11px;
                                    position: absolute;
                                    width: 0;
                                }
                            }

                            &.circle {
                                border-radius: 100%;
                                padding: 5px 8px;
                            }

                            &.circle-pointer {
                                border-radius: 100%;
                                margin-left: -2px;
                                padding: 2px 5px;
                                position: absolute;
                                top: 2px;


                                &::after {
                                    border-right: 6px solid transparent;
                                    border-top: 6px solid transparent;
                                    border-top-color: @color-persian-green;
                                    bottom: -5px;
                                    content: ' ';
                                    height: 0;
                                    left: 11px;
                                    position: absolute;
                                    width: 0;
                                }
                            }

                            &.square-animated{
                                border-radius: 3px;
                                width: 5px;
                                height: 8px;
                                position: relative;
                                margin-left: 12px;
                                display: inline-block;
                                font-size: 0;
                                vertical-align: middle;
                                &::before{
                                    content: "";
                                    width: 17px;
                                    height: 18px;
                                    position: absolute;
                                    border-radius: 3px;
                                    position: absolute;
                                    top: -5px;
                                    left: -5px;
                                    border: 2px solid #333;
                                    animation: anim-ripple 2s infinite;
                                }
                            }
                            
                            &.circle-animated{
                                width: 5px;
                                height: 8px;
                                border-radius: 50%;
                                position: relative;
                                margin-left: 12px;
                                display: inline-block;
                                font-size: 0;
                                vertical-align: middle;
                                &::before{
                                    content: "";
                                    width: 17px;
                                    height: 18px;
                                    position: absolute;
                                    border-radius: 50%;
                                    position: absolute;
                                    top: -5px;
                                    left: -5px;
                                    border: 2px solid #333;
                                    animation: anim-ripple 2s infinite;
                                }
                            }
                            @keyframes anim-ripple {
                                from {
                                  opacity: 1;
                                  transform: scale3d(0.75, 0.75, 1);
                                }
                            
                                to {
                                  opacity: 0;
                                  transform: scale3d(1.25, 1.25, 1);
                                }
                            }
                        }
                        &:hover{
                            > .submenu{
                                display: block !important;
                                background: #fff;
                                box-shadow: 1px 4px 6px 2px rgba(0, 0, 0, 0.2);
                            }
                        }
                    }
                }

                .level0 {
                    display: block;
                    .lib-css(padding, 0 @indent__base);
                    .lib-css(margin, 0);
                    text-align: left;

                    a {
                        color: @color-grey-21;
                        display: inline-block;
                        position: static;
                    }

                    >ul {
                        .lib-css(margin, 0);
                        .lib-css(padding, @indent__s);
                        left: 100% !important;
                        min-width: 768px;
                        position: absolute;
                        right: 0;
                        top: 0 !important;
                        transition: .3s all ease-in;
                    }

                    .md-label-text {
                        font-size: 10px;
                        margin: 0;
                        padding: 1px 5px;
                    }
                }

                .md-submenu-container {
                    .md-categories {
                        display: block !important;
                        float: left;
                        position: static !important;
                        width: 70%;


                        >li {
                            &.parent {
                                >a {
                                    font-weight: 600;
                                }
                            }

                            a {
                                text-transform: uppercase;
                            }

                            >ul {
                                >li {
                                    a {
                                        text-transform: none;
                                    }
                                }
                            }
                        }

                        li {
                            >ul {
                                display: block !important;
                                margin: 10px 0 0;
                                position: static !important;
                                box-shadow: none;
                            }
                        }
                    }

                    .md-categories-image {
                        display: block !important;
                        float: right;
                        position: static !important;
                        width: 30%;
                    }
                }
            }
        }

        &.nav-open {
            .sections {
                .md-megamenu-burger {
                    display: block;
                    left: 0;
                }
            }
        }

        .md-submenu-container {
            li {
                &.level1 {
                    float: left;
                }
            }
        }

        .col-1 {
            width: 100%;
        }

        .col-2 {
            width: 50%;
        }

        .col-3 {
            width: 33.333333%;
        }

        .col-4 {
            width: 25%;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .md-burger-menu {
        .navigation {
            ul.md-categories {
                display: block !important;
            }

            .md-label-text {
                display: none;
            }
        }
    }
    .md-megamenu-burger {
        display: none !important;
    }
}