<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogImportExport\Model\StockItemImporter">
        <plugin sortOrder="1"
                name="crimsonMachProductsImport"
                type="Crimson\MachProductsImport\Plugin\Model\StockItemImporterPlugin"/>
    </type>
</config>
