<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Crimson_MachCatalogRequest::CatalogRequest" sortOrder="10" title="CatalogRequest">
					<resource id="Crimson_MachCatalogRequest::CatalogRequest_save" sortOrder="10" title="Save CatalogRequest"/>
					<resource id="Crimson_MachCatalogRequest::CatalogRequest_delete" sortOrder="20" title="Delete CatalogRequest"/>
					<resource id="Crimson_MachCatalogRequest::CatalogRequest_update" sortOrder="30" title="Update CatalogRequest"/>
					<resource id="Crimson_MachCatalogRequest::CatalogRequest_view" sortOrder="40" title="View CatalogRequest"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
