<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Magento_Backend::marketing_communications">
                        <resource id="Crimson_ProductAlert::back_in_stock_alert" title="Back In Stock Alerts" translate="title" sortOrder="55" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
