<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_ga4>
            <general>
                <enable>0</enable>
                <gtm_code></gtm_code>
                <gtm_nonjs_code></gtm_nonjs_code>
                <load_datalayer_before_gtm>0</load_datalayer_before_gtm>
                <enable_datalayer_preview>0</enable_datalayer_preview>
                <datalayer_preview_ip_addresses></datalayer_preview_ip_addresses>
                <loadlistingblock>0</loadlistingblock>
                <id_selection>id</id_selection>
                <enable_brand>0</enable_brand>
                <enable_variant>0</enable_variant>
                <item_variant>configuration_combination</item_variant>
                <brand_attribute></brand_attribute>
                <order_total_calculation>grandtotal</order_total_calculation>
                <impression_chunk_size>15</impression_chunk_size>
                <success_page_paths></success_page_paths>
                <product_click_tracking>0</product_click_tracking>
                <promotion_tracking>0</promotion_tracking>
                <persistentlayer_expiry>30</persistentlayer_expiry>
                <exclude_tax_from_transaction>0</exclude_tax_from_transaction>
                <parent_vs_child>parent</parent_vs_child>
                <send_all_child_configurable>0</send_all_child_configurable>
                <secure_cookies>0</secure_cookies>
                <exclude_shipping_from_transaction>0</exclude_shipping_from_transaction>
                <exclude_shipping_from_transaction_including_tax>0</exclude_shipping_from_transaction_including_tax>
                <exclude_free_purchase>0</exclude_free_purchase>
                <exclude_order_by_status_flag>0</exclude_order_by_status_flag>
                <custom_dimension_customerid>1</custom_dimension_customerid>
                <custom_dimension_customergroup>1</custom_dimension_customergroup>
                <custom_dimension_pagename>1</custom_dimension_pagename>
                <custom_dimension_pagetype>1</custom_dimension_pagetype>
                <track_stockstatus>1</track_stockstatus>
                <track_reviewscount>1</track_reviewscount>
                <track_reviewsscore>1</track_reviewsscore>
                <track_saleproduct>1</track_saleproduct>
                <track_custom_attribute_1>0</track_custom_attribute_1>
                <track_custom_attribute_2>0</track_custom_attribute_2>
                <track_custom_attribute_3>0</track_custom_attribute_3>
                <track_custom_attribute_4>0</track_custom_attribute_4>
                <track_custom_attribute_5>0</track_custom_attribute_5>
            </general>
            <adwords_conversion_tracking>
                <enable>0</enable>
                <adwords_separate_datalayer_event>0</adwords_separate_datalayer_event>
                <google_conversion_id>0000000</google_conversion_id>
                <google_conversion_label>00000</google_conversion_label>
                <google_conversion_currency_code>usd</google_conversion_currency_code>
                <exclude_free_purchase>0</exclude_free_purchase>
                <enable_enhanced_conversion>0</enable_enhanced_conversion>
                <prehash_enhanced_conversion>0</prehash_enhanced_conversion>
                <send_enhanced_conversion_to_ga4>0</send_enhanced_conversion_to_ga4>
                <enable_new_customer_acquisition>0</enable_new_customer_acquisition>
                <purchase_day_lapse>540</purchase_day_lapse>
                <enable_cart_data>0</enable_cart_data>
                <parent_vs_child>same_as_for_analytics</parent_vs_child>
                <merchant_center_id></merchant_center_id>
                <feed_country></feed_country>
                <feed_language></feed_language>
            </adwords_conversion_tracking>
            <adwords_remarketing>
                <enable>0</enable>
                <conversion_code></conversion_code>
                <conversion_label></conversion_label>
                <exclude_free_purchase>0</exclude_free_purchase>
            </adwords_remarketing>
            <serverside_measurement>
                <enable>0</enable>
                <measurement_id></measurement_id>
                <api_secret></api_secret>
                <events></events>
                <send_user_id>1</send_user_id>
                <enable_user_properties_sending>0</enable_user_properties_sending>
                <user_properties></user_properties>
                <disable_datalayer_events>1</disable_datalayer_events>
                <enable_file_log>0</enable_file_log>
                <enable_debug_collect>0</enable_debug_collect>
            </serverside_measurement>
        </weltpixel_ga4>
        <weltpixel_ga4_meta_pixel>
            <general_tracking>
                <enable>0</enable>
                <code_snippet></code_snippet>
                <events></events>
                <id_selection>id</id_selection>
            </general_tracking>
            <serverside_tracking>
                <enable>0</enable>
                <metapixel_id></metapixel_id>
                <conversion_api_access_key></conversion_api_access_key>
                <events></events>
                <enable_frontend_event_sending>0</enable_frontend_event_sending>
                <enable_test_mode>0</enable_test_mode>
                <test_event_code></test_event_code>
            </serverside_tracking>
        </weltpixel_ga4_meta_pixel>
        <weltpixel_ga4_reddit_pixel>
            <general_tracking>
                <enable>0</enable>
                <code_snippet></code_snippet>
                <events></events>
                <id_selection>id</id_selection>
            </general_tracking>
            <serverside_tracking>
                <enable>0</enable>
                <reddit_pixel_id></reddit_pixel_id>
                <reddit_api_access_token></reddit_api_access_token>
                <events></events>
                <enable_frontend_event_sending>0</enable_frontend_event_sending>
                <enable_test_mode>0</enable_test_mode>
            </serverside_tracking>
        </weltpixel_ga4_reddit_pixel>
        <weltpixel_ga4_tiktok_pixel>
            <general_tracking>
                <enable>0</enable>
                <code_snippet></code_snippet>
                <events></events>
                <id_selection>id</id_selection>
            </general_tracking>
            <serverside_tracking>
                <enable>0</enable>
                <tiktokpixel_id></tiktokpixel_id>
                <tiktok_events_api_key></tiktok_events_api_key>
                <events></events>
                <enable_frontend_event_sending>0</enable_frontend_event_sending>
                <enable_test_mode>0</enable_test_mode>
                <test_event_code></test_event_code>
            </serverside_tracking>
        </weltpixel_ga4_tiktok_pixel>
    </default>
</config>
