.custom-block-cart-top-message {
  .modal-inner-wrap {
    max-width: 600px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    .modal-content {
      #restodiscount {
        .block-title {
          h3 {
            margin-top: 0.1rem;
          }
        }
      }
    }
  }
}