<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="sales_order_shipment_track_load_after">
        <observer instance="Crimson\MachOrder\Observer\LoadTrackExtensionAttributes" name="crimson_machorder"/>
    </event>
</config>
