<?xml version="1.0"?>
<!--
/**
 * Crimson Agility, LLC
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
        <plugin sortOrder="1" name="crimsonDemographicsGuestPaymentInformationManagementInterfacePlugin" type="Crimson\Demographics\Plugin\Api\GuestPaymentInformationManagementInterfacePlugin"/>
    </type>
    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin sortOrder="1" name="crimsonDemographicsPaymentInformationManagementInterface" type="Crimson\Demographics\Plugin\Api\PaymentInformationManagementInterfacePlugin"/>
    </type>
</config>