<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Crimson_InStorePickup">
        <sequence>
            <module name="Magento_InventoryInStorePickupFrontend"/>
            <module name="Magento_InventoryCatalogAdminUi"/>
            <module name="Magento_InventoryAdminUi"/>
            <module name="Magento_InventoryInStorePickupAdminUi"/>
            <module name="Magento_InventoryInStorePickup"/>
            <module name="Magento_InventoryApi"/>
            <module name="Crimson_Checkout"/>
            <module name="Magento_Sales"/>
            <module name="Crimson_ZipCokerWvConsolidation"/>
        </sequence>
    </module>
</config>
