.store-selector-popup-table {
    tbody {
        .col-location-actions {
            padding-right: 0;
            vertical-align: middle;

            .action {
                float: none;
            }
        }
    }
}
