<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author i95Dev Team
 * @copyright Copyright (c) 2020 i95Dev(https://www.i95dev.com)
 * @package I95DevConnect_PaymentJournal
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="I95DevConnect_PaymentJournal" setup_version="1.0.2">
        <sequence>
            <module name="I95DevConnect_MessageQueue"/>
        </sequence>
    </module>
</config>
