<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <custom_fees>
            <tax_class>
                <class>0</class>
            </tax_class>
            <dropship_fee>
                <amount>6.5</amount>
                <allowed_customer_groups>34,35,36,37,39,43</allowed_customer_groups>
            </dropship_fee>
            <canada_taxes>
                <mapping>
                    <![CDATA[
                    {
                    "_1602796687199_185":{"province":"ON","jurisdiction_code":"HST","value":"13","apply_to":"retail"},
                    "_1602796687199_186":{"province":"ON","jurisdiction_code":"GST","value":"5","apply_to":"dealer"},
                    "_1602796687199_187":{"province":"PE","jurisdiction_code":"HST","value":"15","apply_to":"retail"},
                    "_1602796687199_188":{"province":"PE","jurisdiction_code":"GST","value":"5","apply_to":"dealer"},
                    "_1602796687199_189":{"province":"BC","jurisdiction_code":"PST","value":"7","apply_to":"retail"},
                    "_1602796687199_190":{"province":"BC","jurisdiction_code":"GST","value":"5","apply_to":"all"},
                    "_1602796687199_191":{"province":"MB","jurisdiction_code":"PST","value":"7","apply_to":"retail"},
                    "_1602796687199_192":{"province":"MB","jurisdiction_code":"GST","value":"5","apply_to":"all"},
                    "_1602796687199_193":{"province":"NB","jurisdiction_code":"GST","value":"15","apply_to":"retail"},
                    "_1602796687199_194":{"province":"NL","jurisdiction_code":"HST","value":"15","apply_to":"retail"},
                    "_1602796687199_195":{"province":"NL","jurisdiction_code":"GST","value":"5","apply_to":"dealer"},
                    "_1602796687199_196":{"province":"NS","jurisdiction_code":"HST","value":"15","apply_to":"retail"},
                    "_1602796687199_197":{"province":"NS","jurisdiction_code":"GST","value":"5","apply_to":"dealer"},
                    "_1602796687199_198":{"province":"QC","jurisdiction_code":"PST","value":"9.975","apply_to":"retail"},
                    "_1602796687199_199":{"province":"QC","jurisdiction_code":"GST","value":"5","apply_to":"all"},
                    "_1602796687199_200":{"province":"SK","jurisdiction_code":"PST","value":"6","apply_to":"retail"},
                    "_1602796687199_201":{"province":"SK","jurisdiction_code":"GST","value":"5","apply_to":"all"},
                    "_1602796687199_202":{"province":"NL","jurisdiction_code":"GST","value":"5","apply_to":"all"},
                    "_1602796687199_203":{"province":"NU","jurisdiction_code":"GST","value":"5","apply_to":"all"},
                    "_1602796687199_204":{"province":"NT","jurisdiction_code":"GST","value":"5","apply_to":"all"},
                    "_1602796687199_205":{"province":"SK","jurisdiction_code":"GST","value":"5","apply_to":"all"},
                    "_1602796687199_206":{"province":"SK","jurisdiction_code":"PST","value":"6","apply_to":"retail"},
                    "_1602796687199_207":{"province":"YT","jurisdiction_code":"GST","value":"5","apply_to":"all"},
                    "_1602796687199_208":{"province":"AB","jurisdiction_code":"GST","value":"5","apply_to":"all"}
                    }
                ]]>
                </mapping>
                <dealer_customer_groups>31,32,33,34,35,36,37,43</dealer_customer_groups>
                <retail_customer_groups>0,38,39,40,41,42</retail_customer_groups>
            </canada_taxes>
        </custom_fees>
    </default>
</config>
