<?xml version="1.0"?>
<!--
/**
 * @package Magedelight_Megamenu for Magento 2
 * @author MageDelight Team
 * @copyright Copyright (c) MageDelight (https://www.magedelight.com) owned by Krish TechnoLabs. All Rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magedelight_Megamenu::megamenu_root"
             title="Mega Menu"
             module="Magedelight_Megamenu"
             sortOrder="45"
             resource="Magedelight_Megamenu::root"
             toolTip="magedelight_base" />

        <add id="Magedelight_Megamenu::megamenu_root_commonlyvisible"
             title="Mega Menu"
             module="Magedelight_Megamenu"
             sortOrder="45"
             parent="Magedelight_Base::md_modules"
             resource="Magedelight_Megamenu::root" />

        <!-- Mega Menu Link -->
        <add id="Magedelight_Megamenu::menus"
             title="Manage Menus"
             translate="title"
             module="Magedelight_Megamenu"
             sortOrder="100"
             parent="Magedelight_Megamenu::megamenu_root"
             action="megamenu/menu"
             resource="Magedelight_Megamenu::menus" />

        <!-- Sample Import Link -->
        <add id="Magedelight_Megamenu::import"
             title="Sample Import"
             translate="title"
             module="Magedelight_Megamenu"
             sortOrder="110"
             parent="Magedelight_Megamenu::megamenu_root"
             action="megamenu/sampleimport"
             resource="Magedelight_Megamenu::sampleimport" />

          <add id="Magedelight_Megamenu::label"
             title="Label Management"
             translate="title"
             module="Magedelight_Megamenu"
             sortOrder="111"
             parent="Magedelight_Megamenu::megamenu_root"
             action="megamenu/label"
             resource="Magedelight_Megamenu::label" />

        <!-- Configuration Link -->
        <add id="Magedelight_Megamenu::config_root"
             title="Configuration"
             translate="title"
             module="Magedelight_Megamenu"
             sortOrder="120"
             parent="Magedelight_Megamenu::megamenu_root"
             action="adminhtml/system_config/edit/section/magedelight/"
             resource="Magedelight_Megamenu::config_root" />

          <add id="Magedelight_Megamenu::useful_links"
            title="Useful Links"
            module="Magedelight_Megamenu"
            sortOrder="999"
            parent="Magedelight_Megamenu::megamenu_root"
            resource="Magedelight_Megamenu::root" />

          <add id="Magedelight_Megamenu::documentation"
            title="Documentation"
            module="Magedelight_Megamenu"
            sortOrder="10"
            target="_blank"
            parent="Magedelight_Megamenu::useful_links"
            resource="Magedelight_Megamenu::root" />
     </menu>
</config>
