<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <p21_sales_notifications>
            <failed_order_export>
                <email_template>p21_sales_notifications_failed_order_export_email_template</email_template>
            </failed_order_export>
        </p21_sales_notifications>
    </default>
</config>
