<?xml version="1.0"?>
<!--
/**
 * @author i95Dev Team
 * @copyright Copyright (c) 2019 i95Dev(https://www.i95dev.com)
 * @package I95DevConnect_PriceLevel
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="I95DevConnect_MessageQueue::Config">
                    <resource id="I95DevConnect_MessageQueue::i95devaddons">
                        <resource id="I95DevConnect_PriceLevel::pricelevel" title="Price Groups" sortOrder="15" />
                    </resource>
                    <resource id="I95DevConnect_MessageQueue::connectorsettings">
                        <resource id="I95DevConnect_PriceLevel::settings" title="Price Group Settings"
                                  sortOrder="70"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
