<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author i95Dev Team
 * @copyright Copyright (c) 2019 i95Dev(https://www.i95dev.com)
 * @package I95DevConnect_PriceLevel
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="I95DevConnect_PriceLevel" setup_version="2.0.2" >
        <sequence>
            <module name="Magento_Catalog"/>
            <module name = "I95DevConnect_MessageQueue"/>
            <module name = "I95DevConnect_TierPrice"/>
        </sequence>
    </module>
</config>