<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_distributors_distributors_save">
        <observer name="recaptcha_on_distributors_form" instance="Cokertire\Distributors\Observer\FormObserver"/>
    </event>
</config>
