<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\Customform\Block\Form" type="Crimson\Sales\Block\Form" />
    <type name="Amasty\Customform\Controller\Form\Submit">
        <plugin name="reCaptchaValidationStartAReturnForm" type="Crimson\Sales\Plugin\SubmitPlugin" />
    </type>
</config>
