<?xml version="1.0"?>
<!-- 
/**
 * @author i95Dev Team
 * @copyright Copyright (c) 2019 i95Dev(https://www.i95dev.com)
 * @package I95DevConnect_CancelOrder
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="i95dev_connect_extensions" translate="label" sortOrder="1000000">
            <label>I95Dev Connect</label>
        </tab>
        <section id="i95devconnect_CancelOrder" translate="label" type="text" sortOrder="20" showInDefault="1"
                 showInWebsite="1" showInStore="0">
            <label>i95Dev Connect Cancel Order</label>
            <class>separator-top</class>
            <tab>i95dev_connect_extensions</tab>
            <resource>I95DevConnect_CancelOrder::settings</resource>
            <group id="cancelorder_enabled_settings" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1"  showInStore="0">
                <label>General</label>
                <field id="enable_cancelorder" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"  showInStore="0">
                    <label>Enable(extension)</label>
                    <comment>To enable or disable the extension.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Magento\Contact\Model\System\Config\Backend\Links</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>