.paypal-express-review #order-review-form #review-hsc{
  float: none;
  text-align: right;
  margin-bottom: 25px;
}

.paypal-express-review {
    .iwd-address-validation-popup {
        z-index: 9999;
    }

    .modals-overlay {
        z-index: 999;
    }
}

.iwd-address-validation-popup.modal-popup {

    .modal-content {

        ul {

            li {
                border-bottom: 1px solid #ccc;
                padding-bottom: 5px;

                label.open1-error {
                    text-transform: none;
                    margin: 5px 0;
                    color: #e02b27;
                }
            }
        }
    }
}
