<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Crimson_AmastyStorePickupWithLocator">
        <sequence>
            <module name="Amasty_StorePickupWithLocator"/>
            <module name="Amasty_StorePickupWithLocatorSubscriptionFunctionality"/>
        </sequence>
    </module>
</config>
