<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mach>
            <address_verification>
                <enabled>1</enabled>
            </address_verification>
        </mach>
    </default>
</config>