<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Model\SubscriptionManager">
        <plugin name="extend_subscription_entities" type="Crimson\CorvetteCentralNewsletter\Plugin\SubscriptionManagerPlugin" />
    </type>
</config>
