<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <lofproductshipping>
                <active>1</active>
                <allowed_methods>delivery</allowed_methods>
                <methods>delivery</methods>
                <sallowspecific>0</sallowspecific>
                <model>Crimson\CokerWV\Model\Carrier</model>
                <name>Per Product Shipping</name>
                <title>Lof Per Product Shipping</title>
                <defaultprice>10</defaultprice>
                <handling_type>F</handling_type>
            </lofproductshipping>
        </carriers>
    </default>
</config>
