<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="WeltPixel_GA4::GA4_Label"
            title="Google Analytics 4 Ecommerce PRO"
            module="WeltPixel_GA4"
            sortOrder="65"
            parent="WeltPixel_Backend::WeltPixel"
            resource="WeltPixel_GA4::GA4_Label"
        />
        <add
            id="WeltPixel_GA4::GA4"
            title="Google Analytics 4 Ecommerce PRO GTM Settings"
            module="WeltPixel_GA4"
            action="adminhtml/system_config/edit/section/weltpixel_ga4/"
            sortOrder="10"
            parent="WeltPixel_GA4::GA4_Label"
            resource="WeltPixel_GA4::GA4"
        />
        <add
            id="WeltPixel_GA4::GA4MetaPixel"
            title="Meta Pixel Tracking Settings"
            module="WeltPixel_GA4"
            action="adminhtml/system_config/edit/section/weltpixel_ga4_meta_pixel/"
            sortOrder="20"
            parent="WeltPixel_GA4::GA4_Label"
            resource="WeltPixel_GA4::GA4MetaPixel"
        />
        <add
            id="WeltPixel_GA4::GA4TikTokPixel"
            title="TikTok Pixel Tracking Settings"
            module="WeltPixel_GA4"
            action="adminhtml/system_config/edit/section/weltpixel_ga4_tiktok_pixel/"
            sortOrder="30"
            parent="WeltPixel_GA4::GA4_Label"
            resource="WeltPixel_GA4::GA4TikTokPixel"
        />
        <add
            id="WeltPixel_GA4::GA4RedditPixel"
            title="Reddit Pixel Tracking Settings"
            module="WeltPixel_GA4"
            action="adminhtml/system_config/edit/section/weltpixel_ga4_reddit_pixel/"
            sortOrder="40"
            parent="WeltPixel_GA4::GA4_Label"
            resource="WeltPixel_GA4::GA4RedditPixel"
        />
    </menu>
</config>
