<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="crimson" sortOrder="300">
            <label><![CDATA[Crimson]]></label>
        </tab>
        <section id="demographics" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Demographics</label>
            <tab>crimson</tab>
            <resource>Crimson_Demographics::demographics</resource>
            <group id="demographics" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Demographics</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="required" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Required?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="message" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Demographics Message</label>
                    <comment>Displays message on checkout</comment>
                </field>
                <field id="mapping" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>MACH Mapping</label>
                    <frontend_model>Crimson\Demographics\Block\Adminhtml\Form\Field\Mapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
