<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Crimson\Catalog\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Crimson\MachInventoryImport\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">MachInventoryImport</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Crimson\MachInventoryImport\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="crimson_import_mach_inventory" xsi:type="object">Crimson\MachInventoryImport\Console\Command\ImportMachInventory</item>
            </argument>
        </arguments>
    </type>
</config>
