<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="mach_add_order_before_request">
        <observer instance="Crimson\MachGiftCard\Observer\MachAddOrderBeforeRequest" name="crimson_machgiftcard"/>
    </event>
</config>
