<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <store_information>
                <google_map_key>AIzaSyCHbERt6I2LHp3olSxhH6_Csi75SW_xEfw</google_map_key>
                <map_lat>35.0401132</map_lat>
                <map_lng>-85.3128513</map_lng>
            </store_information>
        </general>
    </default>
</config>
