<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">

    <default>
        <i95devconnect_discountgroups>
            <discountgroups_enabled_settings>
                <enable_dg>0</enable_dg>
            </discountgroups_enabled_settings>
        </i95devconnect_discountgroups>
    </default>
</config>