<?xml version="1.0"?>
<!--
/**
 * @author i95Dev Team
 * @copyright Copyright (c) 2020 i95Dev(https://www.i95dev.com)
 * @package I95DevConnect_CloudConnect
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="push_data_after_subscription_success">
        <observer name="get_cloud_shipping_list_forward"
                  instance="I95DevConnect\CloudConnect\Observer\ShippingMappingList"/>
        <observer name="get_cloud_payment_list_forward"
                  instance="I95DevConnect\CloudConnect\Observer\PaymentMappingList"/>
    </event>
    <event name="pull_data_after_subscription_success">
        <observer name="get_cloud_shipping_list_reverse"
                  instance="I95DevConnect\CloudConnect\Observer\ShippingMappingList"/>
        <observer name="get_cloud_payment_list_reverse"
                  instance="I95DevConnect\CloudConnect\Observer\PaymentMappingList"/>
    </event>
</config>
