<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Cokertire_Disclaimers::elements" title="Product Disclaimers" module="Cokertire_Disclaimers" parent="Magento_Backend::content" sortOrder="110" resource="Cokertire_Disclaimers::elements" translate="title"/>
        <add id="Cokertire_Disclaimers::disclaimers" title="Manage Disclaimers" module="Cokertire_Disclaimers" parent="Cokertire_Disclaimers::elements" sortOrder="10" action="disclaimers/disclaimers/" resource="Cokertire_Disclaimers::disclaimers" translate="title"/>
    </menu>
</config>
