.catalog-category-view {
  .products-most_viewed {
    ul.most_viewed {
      li.product-item.most_viewed {
        width: 100%;

        .product-item-details {
          .product-item-actions {
            margin: 10px 0 10px;
          }
        }
      }

      .owl-item {
        padding: 5px 15px;
      }
    }
  }
}