.admin__menu .item-config > a::before {
    background: url('../images/i95Dev.png') no-repeat center;
    background-size: 32px 32px;
    content: '' !important;
    height: 40px !important;
    text-align: center;
    text-transform: uppercase;
    vertical-align: bottom;
}