<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="controller_action_predispatch_checkout_cart_index">
        <observer name="crimson_catalog_cart_page_dispatch" instance="Crimson\Catalog\Observer\CartItemsStockFromMach" shared="true" />
    </event>

</config>