.margin_tb2 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.margin_tb30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin_top1 {
    margin-top: 1em;
}

.margin_top50 {
    margin-top: 50px;
}

.font24 {
    font-size: 24px;
}

.font30 {
    font-size: 30px;
}

.font36 {
    font-size: 36px;
}

.font72 {
    font-size: 72px;
    line-height: 72px;
}

.ronniacond {
    font-family: ronnia-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ronniacondbold {
    font-family: ronnia-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ronniahvy {
    font-family: ronnia-condensed, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #005db5;
}

