<?xml version="1.0"?>
<!--
/**
 * @author i95Dev Team
 * @copyright Copyright (c) 2022 i95Dev(https://www.i95dev.com)
 * @package I95DevConnect_Category
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="erpconnect_messagequeuetomagento_beforesave_product">
        <observer name="category_before_simple_productsave"
                  instance="I95DevConnect\Category\Observer\AssignProductCategory"/>
    </event>
    <event name="erpconnect_messagequeuetomagento_beforesave_configurableproduct">
        <observer name="category_before_configurable_productsave"
                  instance="I95DevConnect\Category\Observer\AssignProductCategory"/>
    </event>
    <event name="erpconnect_messagequeuetomagento_beforesave_serviceproduct">
        <observer name="category_before_service_productsave"
                  instance="I95DevConnect\Category\Observer\AssignProductCategory"/>
    </event>
    <event name="erpconnect_messagequeuetomagento_beforesave_bundleProduct">
        <observer name="category_before_bundle_productsave"
                  instance="I95DevConnect\Category\Observer\AssignProductCategory"/>
    </event>
</config>
